@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700");

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

h1 {
  color: blue;
  font-family: Roboto Condensed;
  font-size: 9em;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  color: white;
  text-shadow: #020819 8px -20px 9px;
  font-family: Roboto Condensed;
  font-size: 5em;
  line-height: 4em;
  text-align: center;
  text-transform: uppercase;
}
h3 {
  color: blue;
  font-family: Roboto Condensed;
  text-align: center;
  line-height: 1em;
  font-size: 4.2em;
}
.first-h3 {
  color: white;
  font-family: Roboto Condensed;
  text-align: center;
  line-height: 1em;
  font-size: 4.2em;
}
h4 {
  color: blue;
  font-family: verdana;
  font-size: 1.5em;
  letter-spacing: 0, 4px;
  line-height: 1em;
  text-align: center;
}
nav {
  background-color: darkblue;
}
.nav-bar a {
  color: white;
  text-decoration: none;
  font-size: 2em;
  text-align: center;
}

header {
  background-size: 650px;
  background-image: url(https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

#general-information {
  background-color: darkblue;
  color: white;
  text-align: center;
}
.text {
  font-size: 2em;
  font-weight: 100;
  text-align: center;
}

.link-btn {
  background-color: blue;
  color: white;
  font-family: roboto condensed;
  font-size: 2em;
  letter-spacing: 0, 5px;
  text-align: center;
  text-decoration: none;
}
.structure {
  text-align: center;
}
.service-box {
  font-size: 1.7em;
  text-align: center;
}

.service-box img {
  font-size: 1.7em;
  text-align: center;
  width: 125px;
}
.dark-background {
  background-color: darkblue;
}
#team .section-text {
  font-size: 1.9em;
  text-align: center;
}

#team .member-name {
  font-size: 1.5em;
  font-weight: 700;
}
#team img {
  width: 250px;
  height: 180px;
}

.footer {
  text-align: center;
  font-size: 1.9em;
}
.address {
  font-style: normal;
  font-size: 0.8em;
}
.footer a {
  color: blue;
  text-decoration: none;
}
#team .image-box {
  width: 250px;
  height: 180px;
  text-align: center;
}
.container {
  flex: 1;

}